<style>
  .setting-is-disabled { font-size: 11px; font-style: italic; color: #999; }
</style>

<div class="field" id="resstoolboxDebugMode-field">
  <div class="heading">
		<label for="resstoolboxDebugMode">Debug mode?</label>
		<p class="instructions">
      When in debug mode, RESS Toolbox will always return the assigned size and density
    </p>
	</div>
	<div class="input">
		<div class="select">
    	<select id="resstoolboxDebugMode" name="resstoolboxDebugMode"{% if config_settings.resstoolboxDebugMode is not null %} disabled="disabled"{% endif %}>
        {% if config_settings.resstoolboxDebugMode is null %}
          <option value="0"{% if not settings.resstoolboxDebugMode %} selected{% endif %}>No</option>
          <option value="1"{% if settings.resstoolboxDebugMode %} selected{% endif %}>Yes</option>
        {% else %}
          <option value="0"{% if not config_settings.resstoolboxDebugMode %} selected{% endif %}>No</option>
          <option value="1"{% if config_settings.resstoolboxDebugMode %} selected{% endif %}>Yes</option>
        {% endif %}
      </select>
    </div>
    {% if config_settings.resstoolboxDebugMode is not null %}
      <p class="setting-is-disabled">This setting has been configured in the config file.</p>
    {% endif %}      
	</div>
</div>

<div class="field" id="resstoolboxFallbackWidth-field">
  <div class="heading">
    <label for="resstoolboxFallbackWidth">Fallback screen width</label>
    <p class="instructions">Fallback width will be used if no device width could be retrieved, or if RESS Toolbox is in debug mode.</p>
  </div>
  <div class="input">
    <input class="text fullwidth" type="text" id="resstoolboxFallbackWidth" name="resstoolboxFallbackWidth" value="{% if config_settings.resstoolboxFallbackWidth is not null %}{{ config_settings.resstoolboxFallbackWidth }}{% else %}{{ settings.resstoolboxFallbackWidth }}{% endif %}"{% if config_settings.resstoolboxFallbackWidth is not null %} disabled="disabled"{% endif %}>
    {% if config_settings.resstoolboxFallbackWidth is not null %}
    <p class="setting-is-disabled">This setting has been configured in the config file.</p>
    {% endif %}
  </div>
</div>

<div class="field" id="resstoolboxFallbackDensity-field">
  <div class="heading">
    <label for="resstoolboxFallbackDensity">Fallback screen density</label>
    <p class="instructions">Fallback density will be used if no device width could be retrieved, or if RESS Toolbox is in debug mode.</p>
  </div>
  <div class="input">
    <input class="text fullwidth" type="text" id="resstoolboxFallbackDensity" name="resstoolboxFallbackDensity" value="{% if config_settings.resstoolboxFallbackDensity is not null %}{{ config_settings.resstoolboxFallbackDensity }}{% else %}{{ settings.resstoolboxFallbackDensity }}{% endif %}"{% if config_settings.resstoolboxFallbackDensity is not null %} disabled="disabled"{% endif %}>
    {% if config_settings.resstoolboxFallbackWidth is not null %}
    <p class="setting-is-disabled">This setting has been configured in the config file.</p>
    {% endif %}
  </div>
</div>
